<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container mt-5" style="max-width: 700px;">
    <div class="text-center mb-4">
        <h2>상품 목록</h2>
    </div>

    <div class="text-end mb-3">
        <button class="btn btn-success"
                th:onclick="|location.href='@{/basic/items/add}'|">상품 등록</button>
    </div>

    <table class="table table-hover text-center">
        <thead class="table-light">
        <tr>
            <th>ID</th>
            <th>상품명</th>
            <th>가격</th>
            <th>수량</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <td>
                <a th:href="@{/basic/items/{itemId}(itemId=${item.id})}" th:text="${item.id}"></a>
            </td>
            <td>
                <a th:href="@{/basic/items/{itemId}(itemId=${item.id})}" th:text="${item.itemName}"></a>
            </td>
            <td th:text="${item.price}">0</td>
            <td th:text="${item.quantity}">0</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
